<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: html(head = null,content = ~{::content})}"
>
  <th:block th:fragment="content">
    <ul>
      <li th:each="post : ${posts.items}">
        <a
          th:href="@{${post.status.permalink}}"
          th:text="${post.spec.title}"
        ></a>
        <br>
        <a th:text="${post.spec.slug}"></a>
        -
        <a th:text="${post.spec.owner}"></a>
        -
        <a th:text="${post.spec.publishTime}"></a>
      </li>
    </ul>
    <a th:if="${posts.hasPrevious()}" th:href="@{${posts.prevUrl}}">上一页</a>
    <a th:if="${posts.hasNext()}" th:href="@{${posts.nextUrl}}">下一页</a>
  </th:block>

  <article>
    <h1 th:text="${post.spec.title}"></h1>
    <div th:utext="${post.content.content}"> </div>
  </article>
</html>
